# PostgreSQL
POSTGRES_PASSWORD=sua_senha_do_banco
DB_PASSWORD=sua_senha_do_banco

# Django
DEBUG=False

# Email (Resend SMTP)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.resend.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=resend
EMAIL_HOST_PASSWORD=re_sua_chave_api_resend
DEFAULT_FROM_EMAIL=noreply@seudominio.com.br
