Automat==25.4.16
Django==5.2.8
Incremental==24.11.0
Markdown==3.10
Twisted==25.5.0
asgiref==3.11.0
attrs==25.4.0
autobahn==25.11.1
cbor2==5.7.1
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
constantly==23.10.4
cryptography==46.0.3
daphne==4.2.1
django-dbbackup==5.0.1
django-mathfilters==1.0.0
django-redis==6.0.0
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
hyperlink==21.0.0
idna==3.11
msgpack==1.1.2
openpyxl==3.1.5
packaging==25.0
pandas==2.2.2
pillow==12.0.0
psycopg2-binary==2.9.10
py-ubjson==0.16.1
pyOpenSSL==25.3.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
redis==7.2.0
service-identity==24.2.0
sqlparse==0.5.4
txaio==25.9.2
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.11.0
websockets==15.0.1
zope.interface==8.1.1
requests==2.32.3
