{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Escolas{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row page-titles mx-0">
        <div class="col-sm-6 p-md-0">
            <div class="welcome-text">
                <h4>Lista de Escolas</h4>
            </div>
        </div>
        <div class="col-sm-6 justify-content-sm-end mt-2 mt-sm-0 d-flex right-0 p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'escolas:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0);">Escolas</a></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Escolas Cadastradas</h4>
                    <a href="{% url 'escolas:criar_escola' %}" class="btn btn-primary btn-sm float-right">
                        <i class="fa fa-plus"></i> Nova Escola
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Endereço</th>
                                    <th>Email</th>
                                    <th>Telefone</th>
                                    <th>Coordenador</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for escola in escolas %}
                                <tr>
                                    <td>{{ escola.nome }}</td>
                                    <td>{{ escola.endereco }}</td>
                                    <td>{{ escola.email }}</td>
                                    <td>{{ escola.telefone }}</td>
                                    {% if escola.coordenador_user %}
                                            {{ escola.coordenador_user.get_full_name|default:escola.coordenador_user.username }}
                                        {% else %}
                                            Nenhum Coordenador
                                        {% endif %}
                                    <td>
                                        <a href="{% url 'escolas:detalhe_escola' pk=escola.pk %}" class="btn btn-info btn-sm">
                                            <i class="fa fa-eye"></i> Ver
                                        </a>
                                        <a href="{% url 'escolas:editar_escola' pk=escola.pk %}" class="btn btn-warning btn-sm">
                                            <i class="fa fa-pencil-alt"></i> Editar
                                        </a>
                                        <a href="{% url 'escolas:excluir_escola' pk=escola.pk %}" class="btn btn-danger btn-sm">
                                            <i class="fa fa-trash"></i> Excluir
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="6" class="text-center">Nenhuma escola cadastrada.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}